body {
  font-family: Helvetica, Arial, sans-serif;
}
#calc {
  margin: 5px;
  width: 200px;
  background-color: #CCC;
  border: 1px solid #AAA;
  border-radius: 6px;
}
#calc-buttons {
  height: 235px;
}
#calc-display {
  margin: 5px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #F0FACA;
  border-radius: 6px;
  border: 1px solid #AAA;
  text-align: right;
  word-wrap: break-word;
}
#calc-buttons a {
  text-decoration: none;
  float: left;
  width: 40px;
  text-align: center;
  margin: 3px;
  padding: 10px 0px;
  background: #333;
  display: inline-block;
  color: #FFF;
  border-radius: 5px;
  border: 1px solid #AAA;
}
#calc-buttons .wide {
  width: 89px;
}

#calc-buttons .row {
  margin-right: 80px;
}
#calc-numbers {
  padding-left: 2px;
  width: 147px;
  float: left;
}
#calc-numbers a {
  margin-left: 4px;
}
#calc-functions {
  width: 43px;
  float: left;
}
