<!DOCTYPE html>
<html>
  <head>
    <title>calc</title>
    <script type="text/javascript" src="/static/js/angular.js" defer></script>
    <script type="text/javascript" src="/static/js/calculator.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/static/css/calculator.css" />
  </head>
  <body>
    <div ng-app="calculatorApp" broadcast-keypress ng-controller="InputController">
      <div id="calc" ng-controller="CalculationController">
        <div id="calc-display">{{ '{{displayValue}}' }}</div>
      </div>
    </div>
  </body>
</html>
