<!DOCTYPE html>
<html>
  <head>
    <title>calc</title>
    <script type="text/javascript" src="/static/js/angular.js" defer></script>
    <script type="text/javascript" src="/static/js/calculator.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/static/css/calculator.css" />
  </head>
  <body>
    <div ng-app="calculatorApp" stop-backspace-from-going-back broadcast-keypress ng-controller="InputController">
      <div id="calc" ng-controller="CalculationController">
        <div id="calc-display">{{ '{{displayValue}}' }}</div>
        <div id="calc-buttons">
          <div id="calc-numbers">
            <a ng-click="handleButtonClick('C')" class="row" href>C</a>
            <a ng-click="handleButtonClick(1)" href>1</a>
            <a ng-click="handleButtonClick(2)" href>2</a>
            <a ng-click="handleButtonClick(3)" href>3</a>
            <a ng-click="handleButtonClick(4)" href>4</a>
            <a ng-click="handleButtonClick(5)" href>5</a>
            <a ng-click="handleButtonClick(6)" href>6</a>
            <a ng-click="handleButtonClick(7)" href>7</a>
            <a ng-click="handleButtonClick(8)" href>8</a>
            <a ng-click="handleButtonClick(9)" href>9</a>
            <a ng-click="handleButtonClick(0)" class="wide" href>0</a>
            <a ng-click="handleButtonClick('.')" href>.</a>
          </div>
          <div id="calc-functions">
            <a ng-click="handleButtonClick('+')" href>+</a>
            <a ng-click="handleButtonClick('-')" href>-</a>
            <a ng-click="handleButtonClick('*')" href>*</a>
            <a ng-click="handleButtonClick('/')" href>/</a>
            <a ng-click="handleButtonClick('=')" href>=</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
